<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Dino Trax</a>
    </div>
    <p *ngFor="let board of boards | async" (click)="activeBoard =board;loadBoard(board)">{{board['$key']}}</p>
  </div>
</nav>



<div class="container">
  <h1>{{title}}</h1>
  <div *ngIf="activeBoard">
    <div *ngFor="let thread of threads">
      <p (click)="threadShown=!threadShown; storable(activeBoard[thread])">{{thread}}</p>
    </div>
    <p *ngIf="threadShown">{{posts}}</p>
  </div>
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
    <a class="text-muted" routerLink="admin">Admin</a>
  </div>
</footer>
